


.rgb {
  display: flex;
  width: var(--spacing-24, 96px);
  height: var(--spacing-24, 96px);
  padding: 4px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--rounded, 4px);
  background: var(--background, #fff);
  
}

.color-number {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.color-name {
  text-align: center;
   font-size: 1.125rem;
  line-height: 2rem;
}


.game-status {
  font-size: var(--font-xl);
  font-weight: 600;
  line-height: var(--leading-8);
  width: 160px;
  text-align: center;
}


.square {
  transition: opacity 300ms, background-color 150ms;
}
